<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators" >
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class=""></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1" class="active"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-5 order-lg-last">
            <img class="img-fluid" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/301477662_571634764570713_2475129198263092688_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=gQ0INroYhZ8AX_hu8Lt&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfAEsn6Qh_iyJNB1ZCdPva9eFfy1FFW6HT6yPOzDE2zbCQ&oe=6440B7A4" alt="">
          </div>
          <div class="col-lg-7 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1 text-success">Balo du lịch</h1>
              <h3 class="h2">Balo du lịch da bò nguyên tấm</h3>
              <p>
                Ở đâu có Thư ở đó có đồ hiệu cực cháy. Toàn mẫu xịn hịn tuyển cho mí chị đẹp thôi ạ.
                Các chị chỉ việc inbox hoặc chấm bài, việc còn lại để <strong> Thy Thư </strong> lo từ a tới z nhé 😍😍
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-5 order-lg-last">
            <img class="img-fluid" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/301216827_570903671310489_3343444190132359308_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=ombGkXEO260AX_rsRvw&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfBfGWhRJseRpserGpqYfsgp5mRZEDGc1BZW7Xn7X4XFvg&oe=64426349" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1">Solex mắt trà</h1>
              <h3 class="h2">Solex mắt trà made in Fance</h3>
              <p>
                Ở đâu có Thư ở đó có đồ hiệu cực cháy. Toàn mẫu xịn hịn tuyển cho mí chị đẹp thôi ạ.
                Các chị chỉ việc inbox hoặc chấm bài, việc còn lại để <strong> Thy Thư </strong> lo từ a tới z nhé 😍😍
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-5 order-lg-last">
            <img class="img-fluid" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/301154613_570903414643848_2054607940859568896_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Nko3e4oP2EkAX_GnFyy&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfCmmarrjpSk6nYHZ-Emjmce1tl-M_eDTANvzCh12UhiuQ&oe=6441B590" alt="">
          </div>
          <div class="col-lg-7 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1">Lacote lười</h1>
              <h3 class="h2">Sục da bò dập vân cá sấu đủ size</h3>
              <p>
                SỞ HỮU MỘT ĐÔI GIÀY ĐẸP – BẠN SẼ TỰ TIN HƠN ⁉
                Có phải bạn đang tìm kiếm một đôi GIÀY đa di năng , phù hợp cho mọi hoàn cảnh , đi chơi hay đi tiệc đều được
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->

<!-- Start Categories of The Month -->
<section class="container py-5">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">Các siêu phẩm trong tháng</h1>
      <p>
        Các siêu phẩm sẽ ra mắt trong tháng tới. Các tình yêu tha hồ lựa chọn nhé !
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 p-5 mt-3">
      <a href="#"><img src="https://www.dangquangwatch.vn/upload/product/784845121_donghothuysy13.jpg" class="rounded-circle img-fluid border"></a>
      <h5 class="text-center mt-3 mb-3">Đồng hồ</h5>
      <p class="text-center"><a class="btn btn-success">Đi tới Shop</a></p>
    </div>
    <div class="col-12 col-md-3 p-5 mt-3">
      <a href="#"><img src="../../../assets/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Dày</h2>
      <p class="text-center"><a class="btn btn-success">Đi tới Shop</a></p>
    </div>
    <div class="col-12 col-md-3 p-5 mt-3">
      <a href="#"><img src="../../../assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Kính</h2>
      <p class="text-center"><a class="btn btn-success">Đi tới Shop</a></p>
    </div>
    <div class="col-12 col-md-3 p-5 mt-3">
      <a href="#"><img src="https://bizweb.dktcdn.net/100/188/271/products/zippo-1950-s-bac-khoi-y-hoa-van-khac-tay-used-7-900k.jpg?v=1603887896377" class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Phụ kiện khác</h2>
      <p class="text-center"><a class="btn btn-success">Đi tới Shop</a></p>
    </div>
  </div>
</section>
<!-- End Categories of The Month -->

<!-- Start Featured Product -->
<section class="bg-light">
  <div class="container py-5">
    <div class="row text-center py-3">
      <div class="col-lg-8 m-auto">
        <h1 class="h1">Sản phẩm khác</h1>
        <p>
          Thy Thư cung cấp đầy đủ các mặt hàng thời trang. Các tình yêu tha hồ lựa chọn nhé.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/301285112_570915137976009_2766275044305895550_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=5Lzpk-9w93cAX8o4kDZ&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfCI8nsbdi9Er68uabtyexG09AZy0uoqxWTm_ddjuE98zA&oe=6441A32A" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
              </li>
              <li class="text-muted text-right">300.000k</li>
            </ul>
            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Prada</a>
            <p class="card-text">
              Mắt kính trông phim, mắt đen made in Italy
            </p>
            <p class="text-muted">Reviews (24)</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t39.30808-6/301382587_571781064556083_8653467509568970373_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=52aMBL0QdI4AX_bdLUq&_nc_ht=scontent.fsgn2-3.fna&oh=00_AfCDBHhBbWCTIp0XJvDqU4XekMgdo-UHi-mds7mfimGE6A&oe=644158DF" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
              </li>
              <li class="text-muted text-right">200.000k</li>
            </ul>
            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Thắt lưng levis</a>
            <p class="card-text">
              Thắt lưng levis da bò, đồng nguyên khối
            </p>
            <p class="text-muted">Reviews (48)</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img src="https://scontent.fdad1-1.fna.fbcdn.net/v/t39.30808-6/301222792_570904174643772_4471682753101749454_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Vj-CE7uMVa8AX_zFj15&_nc_ht=scontent.fdad1-1.fna&oh=00_AfDwfFxfoGeq320Bilw7BfAjKWSDQc_ZQjo2AN2oBWk99Q&oe=64429E87" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
              </li>
              <li class="text-muted text-right">280.000k</li>
            </ul>
            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Túi cầm tay vip 1</a>
            <p class="card-text">
              Túi xách cầm tay, ngang 22cm, đứng 12cm
            </p>
            <p class="text-muted">Reviews (74)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Featured Product -->
