<!-- Start Detail Content -->
<section class="bg-light">
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-6 mt-5">
        <div class="card mb-3">

          <img class="card-img img-fluid" [src]="imgStart" alt="Card image cap"
               id="product-detail">

        </div>
        <div class="row">
          <!--Start Controls-->
          <div class="col-1 align-self-center">
            <a href="#multi-item-example" role="button" data-bs-slide="prev">
              <i class="text-dark fas fa-chevron-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <!--End Controls-->
          <!--Start Carousel Wrapper-->
          <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
            <!--Start Slides-->
            <div class="carousel-inner product-links-wap" role="listbox">

              <!--First slide-->
              <div class="carousel-item active ">
                <div class="row ">
                  <ng-container *ngIf="productDetail">
                    <div class="col-3 " *ngFor="let image of productDetail.images">
                      <button (click)="selectImage(image.img)"
                              class=" btn-outline-light rounded-0 hover-zoom ripple ripple-surface">
                        <img class="card-img img-fluid rounded-0 hover-zoom ripple ripple-surface" [src]="image.img"
                             alt="Product Image">
                      </button>
                    </div>
                  </ng-container>
                </div>
              </div>
              <!--/.First slide-->

            </div>
            <!--End Slides-->
          </div>
          <!--End Carousel Wrapper-->
          <!--Start Controls-->
          <div class="col-1 align-self-center">
            <a href="#multi-item-example" role="button" data-bs-slide="next">
              <i class="text-dark fas fa-chevron-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!--End Controls-->
        </div>
      </div>
      <!-- col end -->
      <div class="col-lg-6 mt-5">
        <div class="card">
          <ng-container *ngIf="productDetail">
            <div class="card-body">

              <h1 class="h2">{{productDetail.productName}}</h1>

              <p class="h3 py-2 text-danger">{{productDetail.price | currency:'VND':'symbol':'1.0-0' }}</p>
              <p class="py-2">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-secondary"></i>
                <span class="list-inline-item text-dark">Đánh giá 4.8 | 36 Bình luận</span>
              </p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <h6>Xuất xứ :</h6>
                </li>
                <li class="list-inline-item">
                  <p class="text-muted"><strong>{{productDetail.brand}}</strong></p>
                </li>
              </ul>

              <h6>Mô tả:</h6>
              <p>{{productDetail.description}}</p>
              <h6>Mã sản phẩm :</h6>
              <hr class="bg-success">
              <div>
                <input type="hidden" name="product-title" value="Activewear">
                <div class="row m-3"></div>
                <div class="row" style="display: flex; justify-content: center">
                  <div class=" row" style="margin: 5%">
                    <div class="col-md-2"></div>
                    <div class=" col-md-4">
                      <h5>Số lượng</h5>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                      <div class="row ">
                        <div class="col-md-2"></div>
                        <div class="col-md-3 d-flex justify-content-center"><span class="btn btn-outline-success"
                                                                                  id="btn-minus"
                                                                                  (click)="subProductDetailFormCart(productDetail.productId)"><i
                          class="fas fa-minus"></i></span>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center">
                          <ng-container *ngIf="quantityDetail">
                            <input class="form-control text-dark" #quantityUpdate
                                   (change)="addToCartByQuantity(productDetail.productId,quantityUpdate.value)"
                                   value="{{quantityDetail| async}}">
                          </ng-container>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center"><span class="btn btn-outline-success"
                                                                                  id="btn-plus"
                                                                                  (click)="addProductDetailToCart(productDetail.productId)"><i
                          class="fas fa-plus"></i></span>
                        </div>
                        <div class="col-md-1"></div>

                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                      <h5>Tổng tiền </h5>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                      <h4 class="col-auto text-danger">
                        <b>{{(quantityDetail | async) * productDetail.price  | currency:'VND':'symbol':'1.0-0' }}</b>
                      </h4>
                    </div>
                  </div>
                </div>
                <hr class="bg-success">

                <div class="row pb-3">
                  <div class="col d-grid">
                    <button type="submit" class="btn btn-outline-success btn-lg" name="submit"
                            routerLink="/product/cart"
                            value="buy">Mua hàng ngay
                    </button>
                  </div>
                  <div class="col d-grid">
                    <button type="button" class="btn btn-outline-success btn-lg" name="submit"
                            routerLink="/product/list">Quay lại shop
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>


      </div>
    </div>
  </div>
</section>
<!-- Close Content -->

<!-- Start Relation Product -->
<section class="py-1">
  <div class="container-xxl">

    <div class="row text-left p-2 pb-3">
      <h4>Sản phẩm liên quan</h4>
    </div>

    Start Carousel Wrapper
        <div class="row">
          <!--Start Controls-->
          <div class="col-1 align-self-center">
            <a href="#multi-item-example1" (click)="prevSlide()" role="button" data-bs-slide="prev">
              <i class="text-dark fas fa-chevron-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </div>

          <!--End Controls-->
          <!--Start Carousel Wrapper-->

          <div id="multi-item-example1" class="col-10 carousel  slide carousel-multi-item hover-zoom ripple ripple-surface"
               data-bs-ride="carousel" loading="lazy">
            <!--Start Slides-->
            <div class="carousel-inner product-links-wap" role="listbox">

              <!--Second slide-->
              <div class="carousel-item active">
                <div class="row">
                  <div class="p-2 pb-3 col-md-3" *ngFor="let product of products; index as i">
                    <div *ngIf="i >= currentSlideIndex * 4 && i < (currentSlideIndex + 1) * 4" class="card">
                      <div class="product-wap card rounded-0 hover-zoom ripple ripple-surface">
                        <div class="card rounded-0 bg-image ">
                          <ng-container *ngIf="product.images && product.images.length > 0">
                            <img class="card-img rounded-0 img-fluid" [src]="product.images[0].img" >
                          </ng-container>
                          <div
                            class="card-img-overlay hover-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                              <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a>
                              </li>
                              <li><a class="btn btn-success text-white mt-2" href="/product/detail/{{product.productId}}"><i
                                class="far fa-eye"></i></a>
                              </li>
                              <li>
                                <button type="button" class="btn btn-success text-white mt-2"
                                        (click)="addProductToCart(product.productId)"><i class="fas fa-cart-plus"></i>
                                </button>
                            </ul>
                          </div>
                        </div>
                        <div class="card-body">
                          <a href="/product/detail/{{product.productId}}"
                             class="h3 text-decoration-none">{{product.productName}}</a>
                          <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                              <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                              <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                              <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                              <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                              <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                          </ul>
                          <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-muted fa fa-star"></i>
                            </li>
                          </ul>
                          <p class="text-center mb-0 text-danger">{{product.price | currency:'VND':'symbol':'1.0-0' }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/.Second slide-->


            </div>
            <!--End Slides-->
          </div>

          <!--End Carousel Wrapper-->
          <!--Start Controls-->
          <div class="col-1 align-self-center">
            <a href="#multi-item-example1" (click)="nextSlide()" role="button" data-bs-slide="next">
              <i class="text-dark fas fa-chevron-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!--End Controls-->
        </div>


  </div>
</section>
<!-- End Relation Product -->




<!--<div class="row">-->
<!--  <div class="col-1 align-self-center">-->
<!--    <button class="carousel-control-prev" type="button" data-bs-target="#multi-item-example1" data-bs-slide="prev">-->
<!--      <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--      <span class="visually-hidden">Previous</span>-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="col-10">-->
<!--    <div class="carousel slide carousel-multi-item hover-zoom ripple ripple-surface" id="multi-item-example1"-->
<!--         data-bs-ride="carousel">-->

<!--      <div class="carousel-inner product-links-wap" role="listbox">-->
<!--        <div class="carousel-item active">-->

<!--          <div class="row">-->
<!--            <div class="col-md-3">-->
<!--              <div *ngFor="let product of products; index as i">-->
<!--                <div *ngIf="i >= currentSlideIndex * 4 && i < (currentSlideIndex + 1) * 4" class="card mb-2">-->
<!--                  <div class="product-wap card rounded-0 hover-zoom ripple ripple-surface">-->
<!--                    <div class="card rounded-0 bg-image ">-->
<!--                      <ng-container *ngIf="product.images && product.images.length > 0">-->
<!--                        <img class="card-img rounded-0 img-fluid" [src]="product.images[0].img">-->
<!--                      </ng-container>-->
<!--                      <div-->
<!--                        class="card-img-overlay hover-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">-->
<!--                        <ul class="list-unstyled">-->
<!--                          <li>-->
<!--                            <a class="btn btn-success text-white" href="shop-single.html">-->
<!--                              <i class="far fa-heart"></i>-->
<!--                            </a>-->
<!--                          </li>-->
<!--                          <li>-->
<!--                            <a class="btn btn-success text-white mt-2" href="/product/detail/{{product.productId}}">-->
<!--                              <i class="far fa-eye"></i>-->
<!--                            </a>-->
<!--                          </li>-->
<!--                          <li>-->
<!--                            <button type="button" class="btn btn-success text-white mt-2"-->
<!--                                    (click)="addProductToCart(product.productId)">-->
<!--                              <i class="fas fa-cart-plus"></i>-->
<!--                            </button>-->
<!--                          </li>-->
<!--                        </ul>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                      <a href="/product/detail/{{product.productId}}"-->
<!--                         class="h3 text-decoration-none">{{product.productName}}</a>-->
<!--                      <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">-->
<!--                        <li class="pt-2">-->
<!--                          <span class="product-color-dot color-dot-red float-start rounded-circle ms-1"></span>-->
<!--                          <span class="product-color-dot color-dot-blue float-start rounded-circle ms-1"></span>-->
<!--                          <span class="product-color-dot color-dot-black float-start rounded-circle ms-1"></span>-->
<!--                          <span class="product-color-dot color-dot-light float-start rounded-circle ms-1"></span>-->
<!--                          <span class="product-color-dot color-dot-green float-start rounded-circle ms-1"></span>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                      <ul class="list-unstyled d-flex justify-content-center mb-1">-->
<!--                        <li>-->
<!--                          <i class="text-warning fa fa-star"></i>-->
<!--                          <i class="text-warning fa fa-star"></i>-->
<!--                          <i class="text-warning fa fa-star"></i>-->
<!--                          <i class="text-warning fa fa-star"></i>-->
<!--                          <i class="text-muted fa fa-star"></i>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                      <p-->
<!--                        class="text-center mb-0 text-danger">{{product.price | currency:'VND':'symbol':'1.0-0' }}</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash;/.Second slide&ndash;&gt;-->


<!--        </div>-->
<!--        &lt;!&ndash;End Slides&ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash;End Carousel Wrapper&ndash;&gt;-->
<!--      &lt;!&ndash;Start Controls&ndash;&gt;-->
<!--      <div class="col-1 align-self-center">-->
<!--        <button class="carousel-control-next" type="button" data-bs-target="#multi-item-example1"-->
<!--                data-bs-slide="next">-->
<!--          <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--          <span class="visually-hidden">Next</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      &lt;!&ndash;End Controls&ndash;&gt;-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
