<!-- Shopping Cart Section Begin -->
<section class="h-100" style="background-color: #eeeeee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Giỏ hàng của bạn</h3>
        </div>

        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/301477662_571634764570713_2475129198263092688_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=gQ0INroYhZ8AX_hu8Lt&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfAEsn6Qh_iyJNB1ZCdPva9eFfy1FFW6HT6yPOzDE2zbCQ&oe=6440B7A4"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">Ba lô</p>
                <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="form1" min="0" name="quantity" value="2" type="number"
                       class="form-control form-control-sm"/>

                <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">700.000</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301567333_571780767889446_2706165009972821761_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=yx7gpHmTebIAX97rfvf&_nc_ht=scontent.fsgn2-6.fna&oh=00_AfCvOZ01x29C4ltreI7OJtUYS8z2SntnWnDiglZBm6AvUA&oe=644270AB"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">Thắt lưng</p>
                <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="form2" min="0" name="quantity" value="2" type="number"
                       class="form-control form-control-sm"/>

                <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">480.000</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/301401152_570915207976002_1688024756910295172_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=d08jMzXkMqMAX_Yp_Fx&_nc_ht=scontent.fsgn2-4.fna&oh=00_AfAxf7aL9ddpMqHvpv03ziv8J_cYxgFmLywTVgYgCGcp0w&oe=64412499"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">Trồng phim Meka</p>
                <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="form3" min="0" name="quantity" value="2" type="number"
                       class="form-control form-control-sm"/>

                <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">300.000</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301426997_570915467975976_7845548253791961818_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=QEFd7iDyjBAAX_PBXKF&_nc_ht=scontent.fsgn2-6.fna&oh=00_AfCKKx-a3Rk0bROyS82n46358-P4iZQwKYDHag-tvqz87A&oe=644131F1"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">Kính thời trang Italy</p>
                <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="form4" min="0" name="quantity" value="2" type="number"
                       class="form-control form-control-sm"/>

                <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">300.000</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <hr>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="card-body col-md-3">
              <button type="button" class="btn btn-info btn-block ">Thanh toán</button>
            </div>
            <div class="card-body col-md-3 mt-2" style="text-align: right">
              <span> <b>Tổng tiền &nbsp; : </b></span>
            </div>
            <div class="card-body col-md-3 m-2 "><h5> <i><u>4.444.000</u></i></h5></div>
            <div class="card-body col-md-1 ">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Shopping Cart Section End -->

<!-- End Relation Product -->
<section class="py-5">
  <div class="container">
    <div class="row text-left p-2 pb-3">
      <h4>Sản phẩm liên quan</h4>
    </div>

    <!--Start Carousel Wrapper-->
    <div id="carousel-related-product">
      <div class="row">
        <div class="p-2 pb-3 col-md-3">
          <div class="product-wap card rounded-0">
            <div class="card rounded-0">
              <img class="card-img rounded-0 img-fluid" src="assets/img/shop_08.jpg">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a>
                  </li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a>
                  </li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                    class="fas fa-cart-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="shop-single.html" class="h3 text-decoration-none">Red Clothing</a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li>M/L/X/XL</li>
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                </li>
              </ul>
              <p class="text-center mb-0">$20.00</p>
            </div>
          </div>
        </div>

        <div class="p-2 pb-3 col-md-3">
          <div class="product-wap card rounded-0">
            <div class="card rounded-0">
              <img class="card-img rounded-0 img-fluid" src="assets/img/shop_09.jpg">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
              </div>
            </div>
            <div class="card-body">
              <a href="shop-single.html" class="h3 text-decoration-none">White Shirt</a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li>M/L/X/XL</li>
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                </li>
              </ul>
              <p class="text-center mb-0">$25.00</p>
            </div>
          </div>
        </div>

        <div class="p-2 pb-3 col-md-3">
          <div class="product-wap card rounded-0">
            <div class="card rounded-0">
              <img class="card-img rounded-0 img-fluid" src="assets/img/shop_10.jpg">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a>
                  </li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a>
                  </li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                    class="fas fa-cart-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="shop-single.html" class="h3 text-decoration-none">Oupidatat non</a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li>M/L/X/XL</li>
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                </li>
              </ul>
              <p class="text-center mb-0">$45.00</p>
            </div>
          </div>
        </div>

        <div class="p-2 pb-3 col-md-3">
          <div class="product-wap card rounded-0">
            <div class="card rounded-0">
              <img class="card-img rounded-0 img-fluid" src="assets/img/shop_11.jpg">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a>
                  </li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a>
                  </li>
                  <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                    class="fas fa-cart-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="shop-single.html" class="h3 text-decoration-none">Black Fashion</a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li>M/L/X/XL</li>
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                </li>
              </ul>
              <p class="text-center mb-0">$60.00</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
<!-- End Relation Product -->
